body {
  background-image:url("https://media3.giphy.com/media/3oEdvaxmd15YTHy6Uo/giphy.gif?cid=ecf05e47efhrw4uq6c15pag5okg2x4rqbjff5cf616ipagta&ep=v1_gifs_related&rid=giphy.gif&ct=g");
  margin-top: 100px;
}

.carousel-container {
  width: 900px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  border:5px #0a1e71 ridge;

}

.carousel {
  margin-top: 20px;


}
.carousel img {
  width: 100%;
  margin:auto;

}

.item {
  position: absolute;
  display: none;
  border:2px white dashed;
  box-shadow: 50px;

}

.caption {
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.3);
  height: 50px;
  text-align: center;
  padding-top:20px;
}

.main {
  display: block;
}


.navigation .prev {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}
.navigation .next {
  right: 10px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 40%;
}
.navigation .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align:center;
  padding: 5px;
}
.navigation .nav-btn:hover {
  background: white;
}
/*wfrefefe*/

.image{
position: absolute;
display:none;
}